{{#bs-form  model=this action="onsubmit"}}		
	{{bs-form-element controlType="password" hasLabel=false label="" placeholder="Current Password" property="oldpassword"}}
	{{bs-form-element controlType="password" hasLabel=false label="" placeholder="New Password" property="newpassword"}}
	<br/>
	<div class="row">
		<div class="pull-right">
			<button class="button default" {{action "close"}}>
				Cancel
			</button>&nbsp;&nbsp;
			<button class="button special" disabled={{loadding}} type="submit">				
				{{#if loadding}}<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;{{/if}}
				Save
			</button>			
		</div>
	</div>	
{{/bs-form}}