{{#bs-form  model=this action="login"}}	
	{{bs-form-element controlType="email"  hasLabel=false label="Email" placeholder="Email" property="email"}}
	{{bs-form-element controlType="password" hasLabel=false label="Password" placeholder="Password" property="password"}}  	
	<div class="row">
		<a href="#" class="forgetpasswd" {{action "forgetPassword"}}>Forget your password?</a>
	</div>	
	<div class="row">
		<button class="button special pull-right" disabled={{loadding}} type="submit">
			{{#if loadding}}<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;{{/if}}
			LOG IN
		</button>
	</div>	
{{/bs-form}}