{{#bs-form  model=this action="onsubmit"}}		
	{{bs-form-element controlType="password" hasLabel=false label="Password" placeholder="Password" property="password"}}  		
	<div class="row">
		<div class="pull-right">
			<button class="button default" {{action "close"}}>
				Cancel
			</button>&nbsp;&nbsp;
			<button class="button special" type="submit">				
				Ok
			</button>			
		</div>
	</div>	
{{/bs-form}}