{{#bs-form  model=this action="resetPasswd"}}
	<div class="row">
		<span class="col-md-12">Enter your email address and we will send you  new temporary  password.</span>		
	</div>
	<br/>
	{{bs-form-element controlType="email" hasLabel=false label="Email" placeholder="Enter your email address" property="email"}}
	<br/>	
	<button class="btn btn-primary pull-right" disabled={{loadding}} type="submit">
		{{#if loadding}}<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;{{/if}}
		Reset Password
	</button>
	<br/>
	<br/>
{{/bs-form}}