.c-notification__container{
	z-index: 10005 !important;
}
#header { 
    z-index: 1000 !important;
}


/**
 * Landging page
 */
 body.landing{
	.modal-dialog{
		max-width:500px;
	} 
 }

 body.adminpanel{
	 @media (min-width: 768px){
		.modal-dialog {
		    width: 800px;
		}	 
	}
 }

.contact-us-form{
	.input-row{
		max-width:300px;
	}
}

/**
 * Radio button customize
 */
.ember-radio-button{
	input[type=radio] {
	    display: none;
	}
	padding-left: 30px;
    margin-right: 15px;
    margin-top: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
	&:before{
		content: "";
    	display: inline-block; 
	    width: 25px;
	    height: 25px;	 
	    margin-right: 10px;
	    position: absolute;
	    left: 0;
	    bottom: 1px;	    
	    background-image: url("images/uncheck.png");
	    background-size: 100% 100%;
	}
	&.checked:before{
		background-image: url("images/check.png");
	}
}
.embercheck{
	.checkbox{
	    margin-top: 0px;
    	margin-bottom: 0px;		
		label{
			input[type=checkbox] {
			    display: none;
			}
			padding-left: 30px;
		    margin-right: 15px;
		    margin-top: 3px;
		    display: inline-block;
		    cursor: pointer;
		    position: relative;
			&:before{
				content: "";
		    	display: inline-block; 
			    width: 25px;
			    height: 25px;	 
			    margin-right: 10px;
			    position: absolute;
			    left: 0;
			    bottom: 1px;	    
			    background-image: url("images/uncheck_checkbox.png");
			    background-size: 100% 100%;
			}			
		}
	}	
	&.checked{
		label{						
			&:before{
				background-image: url("images/check_checkbox.png");
			}
		}
	}
	&.disabled{
		label{
		    opacity: 0.3;
			pointer-events:none;
			input{
				pointer-events:none;
			}
		}
	}
}
