  <header id="header" class="alt">
    <h1><a href="index.html">Exalt.ly</a></h1>
    <nav id="nav">    
        <ul>
            <li class="special1">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>                
            </li>
        </ul>
    </nav>
</header>