<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>THERE'S AN EASIER WAY</h2>

            <p>Spend your time and energy serving, not scheduling.<br>
            Spare the stress. Be in the right mindset for Sunday.
            </p>
        </header>
        <ul class="actions vertical">
            <li><a href="#" class="button fit special" {{action 'signup'}}>Free Trial</a></li>
            <li><a href="#" class="button fit" {{action 'contact'}}>Contact Us</a></li>
        </ul>
    </div>
</section>