<section id="banner">
	<div class="inner">
		<h2>Exalt.ly</h2>
		
		<p>WORSHIP LEADERS SHOULD FOCUS ON LEADING WORSHIP<br/>
		WE MAKE IT EASY TO COORDINATE YOUR TEAM AND ARRANGE YOUR MUSIC<br/>

		</p>		
		<ul class="actions">
			<li><a href="#" {{action 'signup'}} class="button special">Sign Up</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>