<section id="banner">
	<div class="inner">
		<h2>Exalt.ly</h2>
		<p>Schedule your worship team with ease<br />
		Share your songs and setlists<br />
		Manage from any device<br />
		</p>
		<ul class="actions">
			<li><a href="#" {{action 'signup'}} class="button special">Sign Up</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>