<section id="cta" class="wrapper style4">
    <div class="inner">
        <header>
            <h2>Save time and effort</h2>

            <p>Spend less time coordinating your volunteers each week, and more time focusing on what's
                important.</p>
        </header>
        <ul class="actions vertical">
            <li><a href="#" class="button fit special" {{action 'signup'}}>Sign Up Now!</a></li>
            <li><a href="#" class="button fit" {{action 'contact'}}>Contact Us</a></li>
        </ul>
    </div>
</section>