<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
            <h2>CHEAPER THAN YOUR SNACKS</h2>

            <p>Try us for free for one month! You shouldn't have to pay for something you don't like.</p>
        </header>
        <ul class="features">
            <li class="icon fa-usd">
                <h3>$15 / month</h3>

                <p>No annual agreements -- you can cancel your subscription at any time.</p>
            </li>
            <li class="icon fa-refresh">
                <h3>Giving back</h3>

                <p>We donate 10% of all revenues to ministries and outreach programs around the world.</p>
            </li>
        </ul>
    </div>
</section>