<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>Make coordination easy<br/>
                Focus on the worship</h2>

            <p>Seamlessly schedule practices, services, volunteers, and setlists across all devices<br/>
                Notify team members of changes with the push of a button</p>
        </header>
        <ul class="icons major">
            <li><span class="icon fa-calendar major style1"><span class="label">Calendar</span></span></li>
            <li><span class="icon fa-users major style2"><span class="label">Users</span></span></li>
            <li><span class="icon fa-music major style3"><span class="label">Music</span></span></li>
        </ul>
    </div>
</section>