<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>SPARE YOURSELF THE MID-WEEK HEADACHE</h2>

            <p>
                Quickly schedule practices, services, and musicians<br/>
                Select and arrange songs and setlists<br/>
                Share chord charts with your team and notify them of changes
            </p>
        </header>
        <ul class="icons major">
            <li><span class="icon fa-calendar major style1"><span class="label">Calendar</span></span></li>
            <li><span class="icon fa-music major style3"><span class="label">Music</span></span></li>
            <li><span class="icon fa-users major style2"><span class="label">Users</span></span></li>
        </ul>
    </div>
</section>