{{partial "partial/landing-header"}}
<div class="main-container row">
	<div class="calendar-container">
		<div class="calendar-body">
			{{partial "partial/dashboard-calendar"}}
		</div>		
	</div>
	<div class="menu-container">
		{{partial "partial/dashboard-menu"}}
	</div>
</div>